@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("toa-heftiba-FV3GConVSss-unsplash.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    background:linear-gradient(to right, #d14370, #7c498d);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .5;
    z-index: -1;
}

.user-profile {
    background-color: hsl(60, 0%, 54%);
    width: 100%;
    margin-top: 6%;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: turquoise;
}

.profile-top {
    background: linear-gradient(to right, #dd5e89 , #f7bb97);
    padding: 10px;
    text-align: center;
}

.profile-top img {
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
}
.profile-top .profile-info {
    margin-top: 1rem;
}

.bottom {
    background: linear-gradient(#5b5d5e, #7b8080);
    margin: 4px;
    border-radius: 6px;
    padding: 1rem 2rem 1rem 3rem;
}

.bottom .profile-info {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 20px;
    box-shadow:rgb(221, 168, 168);
    transition: .5s ease;
}

.bottom .profile-info .material-icons {
    margin-right: .5rem;
    color: rgb(122, 117, 117);
}

.bottom .profile-info:hover {
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
}

button {
    transition: .5s ease;
    margin-top: 2rem;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
     color: skyblue;
     background-color: rgb(59, 53, 53);;
}